
:root{
  --bkgnYellow:#fee19f;
  --falcon:#735b69;
  --pastelBlue:#b7dde0;
  --mainDark:#232528;
  --mainWhite:#f3f3f3;
  --brown:#b16e4b;
  --pastelPink:#ffd0d6;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: var(--pastelBlue)!important;
  color:var(--mainDark)!important;
}

.text-title{
  font-family:'Chicle', cursive;
  color:var(--falcon);
  font-size: 5rem;
  text-shadow: 3px 1px 1px rgba(177,110,75,0.6), 6px 4px 1px rgba(255,208,214,0.6);
}

.blueText{
  color:var(--pastelBlue);
}

.pinkText{
  color:var(--pastelPink);
}
.falconText{
  color:var(--falcon);
}